nav{
  display: block;
  background: #dddddd;
  padding: 4px;
  text-decoration: none;
  border: none 1px;
  border-radius: 4px;
  margin: 5px;
}

body {
  display: block;
  border: none 10px;
  padding: 50px;
  margin: 20px;
  font-family: Georgia, serif;
}

h1 {
  font-family: Optima, sans-serif;
}

img {
  border-radius: 10px;
}

img.profile {
  width: 150px;
  border: none 1px;
  border-radius: 100%;
  margin: 20px;
  padding: 10px;
  display: flex;
}

iframe {
  height: 400px;
  width: 800px;
  margin: 20px;
  border: solid 2px;
  border-radius: 10px;
}
